/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Blue Page background */
.blue-background {
  background-color: blue;
  height: 100vh;
  color: white;
}

/* Red Page background */
.red-background {
  background-color: red;
  height: 100vh;
  color: white;
}

h1 {
  font-size: 3rem;
  margin-top: 20px;
}